.App {
  text-align: center;
}

.align-header {
  min-height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(68, 68, 67);
  background-color: rgb(26, 180, 180);
}

.align-header h2 {
  display: flex;
  align-self: flex-end;
  color:rgb(253, 175, 8);
}