.App {
  text-align: center;
}

.align-header {
  min-height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  background-color: rgb(26, 180, 180);
}

.receipt {
  background-color: lightgray;
  padding: 5vh;
}

.form {
  display:'flex';
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  align-content: flex-end;
  min-width: 10vh;
  min-height: 10vh;
  text-align: right;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px;
  text-align: center;
}

.footer {
  background-color: purple;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  text-align: center;
}
